body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f6f7fb;
}

.navbar {
    background-color: #4a60ff;
    color: rgb(249, 235, 235);
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links li {
    list-style: none;
    display: inline-block;
    margin-left: 25px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 17px;
}

main {
    padding: 40px;
}

.cards {
    display: flex;
    gap: 20px;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    width: 200px;
    text-align: center;
}
